{
  "presets": [ "es2015"],
  "plugins": [
    ["transform-es2015-modules-commonjs-simple", {
      "allowTopLevelThis": false,
      "strict": true,
      "loose": false,
      "addExports": true,
      "noMangle": true
    }]
  ]
}
